img {

    width:100%;
    height: auto;

}
body{
  background-image: url("../images/splash_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: inherit;
}
.logo{
      margin: 0 auto;
      width: 70%;
      padding-top: 20%;
}
h1{
  margin-top: 130px;
  font-size: 90px;
  color: #fcff00;
}
h2{
  font-size: 40px;
  color: #fff;
}
.axa{
  margin-top: 160px;
}
